node-red-flows.json
[
    {
        "id": "15b83bb9d87632f4",
        "type": "ui_button",
        "z": "0e86419dc303c258",
        "name": "",
        "group": "d2980063151ab428",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Open Curtain",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "fe7717d168e5e1ce",
                "0c268d55773e9a56"
            ]
        ]
    },
    {
        "id": "fe7717d168e5e1ce",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Button",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c268d55773e9a56",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "openCurtainDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e6be2be564eb5d6",
        "type": "ui_button",
        "z": "0e86419dc303c258",
        "name": "",
        "group": "d2980063151ab428",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Close Curtain",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "01e29f132cab95c2",
                "f66b14575a649dc3"
            ]
        ]
    },
    {
        "id": "01e29f132cab95c2",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Button",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "f66b14575a649dc3",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "closeCurtainDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "677ea661e1df9c4f",
        "type": "ui_text",
        "z": "0e86419dc303c258",
        "group": "7439f979.e3ee18",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "f3a5863f602e74fb",
        "type": "ui_text",
        "z": "0e86419dc303c258",
        "group": "7439f979.e3ee18",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 840,
        "wires": []
    },
    {
        "id": "a86dcf1607cf4611",
        "type": "ui_text",
        "z": "0e86419dc303c258",
        "group": "7439f979.e3ee18",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 900,
        "wires": []
    },
    {
        "id": "12368d718d478abc",
        "type": "ui_text",
        "z": "0e86419dc303c258",
        "group": "7439f979.e3ee18",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "60338a113ad3b844",
        "type": "ui_text",
        "z": "0e86419dc303c258",
        "group": "7439f979.e3ee18",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "VOC Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5eab46ac9a213a27",
        "type": "ui_text_input",
        "z": "0e86419dc303c258",
        "name": "",
        "label": "Adjust Time As you Like",
        "tooltip": "",
        "group": "d2980063151ab428",
        "order": 9,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "3f4771cafbfd170f",
                "f7a9c389a4155ded"
            ]
        ]
    },
    {
        "id": "3f4771cafbfd170f",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Adjusted_Time",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "e756151b82b413ec",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "splitDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "e6c87184dc71695a",
        "type": "mqtt in",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "e39b3063fc52e41c",
                "e46f7aba62fcb990"
            ]
        ]
    },
    {
        "id": "e39b3063fc52e41c",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "f7a9c389a4155ded",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "e46f7aba62fcb990",
        "type": "function",
        "z": "0e86419dc303c258",
        "name": "function 1",
        "func": "// Extract hours and minutes from the incoming payload\nlet hour = msg.payload.hour;\nlet minute = msg.payload.min;\n\n// Format the minute to always be two digits\nminute = (minute < 10 ? \"0\" : \"\") + minute;\n\n// Convert 24-hour time to 12-hour time and set the AM/PM\nlet ampm = hour >= 12 ? 'PM' : 'AM';\nhour = hour % 12;\nhour = hour ? hour : 12; // the hour '0' should be '12'\n\n// Format the hour to always be two digits\nhour = (hour < 10 ? \"0\" : \"\") + hour;\n\n// Create a formatted time string\nlet formattedTime = `${hour}:${minute} ${ampm}`;\n\n// Set the formatted time as a new property in the message payload\nmsg.payload = formattedTime;\n\n// Return the message to continue the flow\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "677ea661e1df9c4f",
                "e756151b82b413ec"
            ]
        ]
    },
    {
        "id": "02031478094661b7",
        "type": "mqtt in",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 860,
        "wires": [
            [
                "e2023f574a397dac",
                "87d89b4cec57dcc4"
            ]
        ]
    },
    {
        "id": "e2023f574a397dac",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 960,
        "wires": []
    },
    {
        "id": "d2b8cc2905e24f4e",
        "type": "ui_dropdown",
        "z": "0e86419dc303c258",
        "name": "Operate Mode",
        "label": "Operate Mode",
        "tooltip": "Operate Mode",
        "place": "Select Operate Mode",
        "group": "d2980063151ab428",
        "order": 8,
        "width": "6",
        "height": "2",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "MANUAL",
                "value": "0",
                "type": "str"
            },
            {
                "label": "SMART",
                "value": "1",
                "type": "str"
            },
            {
                "label": "TIMER",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "15f0d47d581e5007",
                "31a523434b1d32ba"
            ]
        ]
    },
    {
        "id": "87d89b4cec57dcc4",
        "type": "function",
        "z": "0e86419dc303c258",
        "name": "function 2",
        "func": "// Create new messages for each parameter\nvar lightMsg = { payload: msg.payload.light + \"%\" };\nvar tempMsg = { payload: msg.payload.temp + \"℃\" };\nvar humidityMsg = { payload: msg.payload.humidity + \"%\" };\nvar vocMsg = { payload: msg.payload.voc };\n\n// Set topic for each to use in dashboard (optional)\nlightMsg.topic = \"Light\";\ntempMsg.topic = \"Temperature\";\nhumidityMsg.topic = \"Humidity\";\nvocMsg.topic = \"VOC\";\n\n// Return multiple messages on separate output ports\nreturn [ [lightMsg], [tempMsg], [humidityMsg], [vocMsg] ];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 860,
        "wires": [
            [
                "f3a5863f602e74fb"
            ],
            [
                "a86dcf1607cf4611"
            ],
            [
                "12368d718d478abc"
            ],
            [
                "60338a113ad3b844"
            ]
        ]
    },
    {
        "id": "15f0d47d581e5007",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1160,
        "wires": []
    },
    {
        "id": "31a523434b1d32ba",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Button",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "728d1d8309df45d0",
        "type": "ui_text_input",
        "z": "0e86419dc303c258",
        "name": "Set Open Time",
        "label": "Set Open Time",
        "tooltip": "Set Open Time",
        "group": "d2980063151ab428",
        "order": 8,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 440,
        "wires": [
            [
                "10102a1e28ad0cb2",
                "baf2aad79f73e6bb"
            ]
        ]
    },
    {
        "id": "10102a1e28ad0cb2",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Open_Time",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "46033ff30c433698",
        "type": "ui_text_input",
        "z": "0e86419dc303c258",
        "name": "Set Close Time",
        "label": "Set Close Time",
        "tooltip": "Set Close Time",
        "group": "d2980063151ab428",
        "order": 9,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "3990f60eeabb13cd",
                "08e5838c08075f06"
            ]
        ]
    },
    {
        "id": "3990f60eeabb13cd",
        "type": "mqtt out",
        "z": "0e86419dc303c258",
        "name": "",
        "topic": "Close_time",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "baf2aad79f73e6bb",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "08e5838c08075f06",
        "type": "debug",
        "z": "0e86419dc303c258",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2980063151ab428",
        "type": "ui_group",
        "name": "User Operation",
        "tab": "c19ddfcf.06e82",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "http://74.249.109.202/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7439f979.e3ee18",
        "type": "ui_group",
        "name": "Curtain Opener",
        "tab": "c19ddfcf.06e82",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "<style>     body, .nr-dashboard-theme, .nr-dashboard-theme ui, .nr-dashboard-theme md-content {         background-color: #FFFFFF !important;     } </style>"
    },
    {
        "id": "c19ddfcf.06e82",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]